In [1]:
import pandas as pd

In [2]:
import numpy as np

# DATAFRAME

In [3]:
cot_num = pd.DataFrame(np.random.rand(15,1),columns=['Random'])

In [4]:
cot_num

      Random
0   0.393795
1   0.961390
2   0.600681
3   0.090750
4   0.854412
5   0.906672
6   0.971091
7   0.072593
8   0.490054
9   0.748503
10  0.550785
11  0.445794
12  0.817043
13  0.606055
14  0.627291

In [5]:
disc_num = pd.DataFrame(np.random.randint(0,1,15),columns=['Discrete'])

In [6]:
disc_num

    Discrete
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0

# Creating DataFrame With Ordinal Data

In [7]:
ordinal = pd.DataFrame({'salary':[17000,37000,79000,41000],
                        'class':['low','medium','high','medium']})

In [8]:
ordinal

   salary   class
0   17000     low
1   37000  medium
2   79000    high
3   41000  medium

# Creating Database For Nominal Data

In [12]:
nominal = pd.DataFrame({'age':[21,35,1,45],'gender':['male','female','male','feamle']})

In [13]:
nominal

   age  gender
0   21    male
1   35  female
2    1    male
3   45  feamle

# Data Pre-Processing-Missing Data

In [36]:
import pandas as pd

In [37]:
import numpy as np

In [38]:
dataset = pd.read_csv('C:/Users/Admin/Downloads/Data.csv')

In [39]:
dataset

   Country   Age   Salary Purchased
0   France  44.0      NaN        No
1    Spain   NaN  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany   NaN      NaN        No
9   France  37.0  67000.0       Yes

In [40]:
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [41]:
x

array([['France', 44.0, nan],
       ['Spain', nan, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', nan, nan],
       ['France', 37.0, 67000.0]], dtype=object)

In [42]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [43]:
dataset.isnull().sum()

Country      0
Age          3
Salary       3
Purchased    0
dtype: int64

In [45]:
from sklearn.impute import SimpleImputer

In [47]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

In [49]:
imputer.fit(x[:,1:3])

SimpleImputer()

In [50]:
x[:,1:3] = imputer.transform(x[:,1:3])

In [51]:
print(x)

[['France' 44.0 59857.142857142855]
 ['Spain' 38.857142857142854 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 59857.142857142855]
 ['France' 35.0 58000.0]
 ['Spain' 38.857142857142854 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 38.857142857142854 59857.142857142855]
 ['France' 37.0 67000.0]]

# Handling Categorical Data-Label

In [52]:
import pandas as pd

In [53]:
from sklearn.preprocessing import LabelEncoder

In [71]:
salary_class = pd.DataFrame({'salary':[5000,84000,22000,8000,7500],
                             'Class':['Low','High','Medium','Low','High']})

In [72]:
salary_class

   salary   Class
0    5000     Low
1   84000    High
2   22000  Medium
3    8000     Low
4    7500    High

# Unique Data

In [73]:
salary_class.Class.unique()

array(['Low', 'High', 'Medium'], dtype=object)

In [75]:
from sklearn.preprocessing import OrdinalEncoder

In [79]:
order=['Low','Medium','High']

In [80]:
order

['Low', 'Medium', 'High']

In [82]:
ord_enc = OrdinalEncoder(categories=[order])

In [83]:
ord_enc.fit(salary_calss[["class"]])

OrdinalEncoder(categories=[['Low', 'Medium', 'High']])

In [87]:
salary_class["Class"]= ord_enc.fit_transform(salary_class[["Class"]])

In [88]:
salary_class

   salary  Class
0    5000    0.0
1   84000    2.0
2   22000    1.0
3    8000    0.0
4    7500    2.0

In [89]:
import pandas as pd

In [90]:
import numpy as np

In [92]:
stand_scaler=pd.DataFrame({'x1':np.random.normal(0,2,100),
                           'x2':np.random.normal(3,5,100),
                            'x3':np.random.normal(-2,2,100)})

In [93]:
stand_scaler

          x1         x2        x3
0   2.475824   0.749124  1.761149
1   3.219437  -4.003087 -5.185777
2   0.078436   4.092485 -0.984730
3  -0.575291  11.397160 -0.254290
4   0.720752   0.787657 -3.347170
..       ...        ...       ...
95 -0.982803  10.567732 -3.605544
96 -0.017553   6.297598  0.622878
97 -3.214020   4.765092 -0.750230
98  1.860783  -0.001653 -3.688186
99 -4.229484  -0.796790 -1.627138

[100 rows x 3 columns]